.card-img-top{
    margin-top: 20px;
    width: auto;
    height: 400px;
}
.card3{
    background-color:rgb(255, 253, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14.5%;
    margin-top: 20px;
    font-size: larger;
}
.card2{
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14.5%;
    margin-top: 20px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}